<nav class = "eeo-emojiPicker-nav">
  {{#each categorySections as |categoryObj index|}}
    {{emoji-picker/label
      categoryObj  = categoryObj
      emoji        = (get emojiByCategoryIdFiltered categoryObj.category.id)
      scrollableId = scrollableId
    }}
  {{/each}}
</nav>



<div
  class = "eeo-emojiPicker-scrollable"
  id    = {{scrollableId}}
>
  {{#if filteredEmojiCount}}
    {{#each emojiService.categories as |category|}}
      {{#with (get emojiByCategoryIdFiltered category.id) as |emoji|}}
        {{emoji-picker/category
          emoji               = emoji
          category            = category
          filterInput         = filterInput
          selectAction        = selectAction
          closeAction         = closeAction
          shouldCloseOnSelect = shouldCloseOnSelect
        }}
      {{/with}}
    {{/each}}
  {{else}}
    <div class = "eeo-emojiPicker-category">
      <div class = "eeo-emojiPicker-category-title">
        {{textNoEmojiFound}}
      </div>
    </div>
  {{/if}}
</div>{{! .eeo-emojiPicker-scrollable }}



<div class = "eeo-emojiPicker-footer">
  <div class = "eeo-emojiPicker-filter">
    {{#auto-focus disabled=disableAutoFocus}}
      {{one-way-input
        _filterInput
        class       = "eeo-emojiPicker-filter-input"
        update      = (action 'inputFilteringText')
        placeholder = textSearch
      }}
    {{/auto-focus}}

    <a
      href
      class = "eeo-emojiPicker-filter-clear {{if filterInput.length '' '_disabled'}}"
      title = {{textClearSearch}}
      {{action 'inputFilteringText' ''}}
    >
      {{{inject-emoji ":heavy_multiplication_x:" emojione = (hash imageTitleTag = false)}}}
    </a>
  </div>{{! .eeo-emojiPicker-filter }}


  <div class = "eeo-emojiPicker-tones">
    {{emoji-picker/tone tone="default" toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="1"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="2"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="3"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="4"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="5"       toneSelectAction = toneSelectAction}}
  </div>{{! .eeo-emojiPicker-tones }}
</div>{{! .eeo-emojiPicker-footer }}