<p>
  Tone:
  <a href {{action 'setTone' 'default'}}>0</a>
  <a href {{action 'setTone' '1'}}>1</a>
  <a href {{action 'setTone' '2'}}>2</a>
  <a href {{action 'setTone' '3'}}>3</a>
  <a href {{action 'setTone' '4'}}>4</a>
  <a href {{action 'setTone' '5'}}>5</a>
</p>

{{#each emojiService.categories as |category|}}
  {{emoji-picker/category
    category     = category
    selectAction = selectAction
  }}
{{/each}}