<nav class = "eeo-emojiPicker-nav">
  {{#each categorySections as |categoryObj|}}
    {{emoji-picker/label
      categoryObj  = categoryObj
      visibleCount = (get (get emojiByCategoryIdFiltered categoryObj.category.id) "visibleCount")
      scrollableId = scrollableId
    }}
  {{/each}}
</nav>



<div
  class = "eeo-emojiPicker-scrollable"
  id    = {{scrollableId}}
>
  {{#if filteredEmojiCount}}
    {{#each emojiService.categories as |category|}}
      {{#with (get emojiByCategoryIdFiltered category.id) as |emojiHash|}}
        {{#if emojiHash.visibleCount}}
          {{emoji-picker/category
            emoji               = emojiHash.emoji
            category            = category
            filterInput         = filterInput
            selectAction        = (action "selectEmojo")
            closeAction         = closeAction
            shouldCloseOnSelect = shouldCloseOnSelect
          }}
        {{/if}}
      {{/with}}
    {{/each}}
  {{else}}
    <div class = "eeo-emojiPicker-category">
      <div class = "eeo-emojiPicker-category-title">
        {{textNoEmojiFound}}
      </div>
    </div>
  {{/if}}
</div>{{! .eeo-emojiPicker-scrollable }}



<div class = "eeo-emojiPicker-footer">
  <div class = "eeo-emojiPicker-filter">
    {{#auto-focus disabled=disableAutoFocus}}
      {{input
        value          = _filterInput
        class          = "eeo-emojiPicker-filter-input"
        placeholder    = textSearch
        update         = (action "inputFilteringText")
        insert-newline = (action "selectFirstFilteredEmojo")
        escape-press   = (action "clearFilterOrClose")
      }}
    {{/auto-focus}}

    <a
      href
      class = "eeo-emojiPicker-filter-clear {{if filterInput.length "" "_disabled"}}"
      title = {{textClearSearch}}
      {{action "inputFilteringText" ""}}
    >
      {{inject-emoji (eeo-html-safe ":heavy_multiplication_x:") emojione = (hash imageTitleTag = false)}}
    </a>
  </div>{{! .eeo-emojiPicker-filter }}


  <div class = "eeo-emojiPicker-tones">
    {{emoji-picker/tone tone="default" toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="1"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="2"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="3"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="4"       toneSelectAction = toneSelectAction}}
    {{emoji-picker/tone tone="5"       toneSelectAction = toneSelectAction}}
  </div>{{! .eeo-emojiPicker-tones }}
</div>{{! .eeo-emojiPicker-footer }}
