<nav class = "eeo-emojiPicker-nav">
  {{#each categorySections as |categoryObj index|}}
    {{emoji-picker/label
      categoryObj  = categoryObj
      emoji        = (get emojiByCategoryIdFiltered categoryObj.category.id)
      scrollableId = scrollableId
    }}
  {{/each}}
</nav>



<div
  class = "eeo-emojiPicker-scrollable"
  id    = {{scrollableId}}
>
  {{#each emojiService.categories as |category|}}
    {{#with (get emojiByCategoryIdFiltered category.id) as |emoji|}}
      {{emoji-picker/category
        emoji        = emoji
        category     = category
        filterInput  = filterInput
        selectAction = selectAction
      }}
    {{/with}}
  {{/each}}
</div>{{! .eeo-emojiPicker-scrollable }}



<div class = "eeo-emojiPicker-footer">
  <div class = "eeo-emojiPicker-filter">
    {{one-way-input
      filterInput
      class       = "eeo-emojiPicker-filter-input"
      update      = (action 'filter')
      placeholder = "Search"
    }}

    <a
      href
      class = "eeo-emojiPicker-filter-clear {{if filterInput.length '' '_disabled'}}"
      {{action 'filter' ''}}
    >
      {{{inject-emoji ":heavy_multiplication_x:"}}}
    </a>
  </div>{{! .eeo-emojiPicker-filter }}


  <div class = "eeo-emojiPicker-tones">
    {{emoji-picker/tone tone="default"}}
    {{emoji-picker/tone tone="1"      }}
    {{emoji-picker/tone tone="2"      }}
    {{emoji-picker/tone tone="3"      }}
    {{emoji-picker/tone tone="4"      }}
    {{emoji-picker/tone tone="5"      }}
  </div>{{! .eeo-emojiPicker-tones }}
</div>{{! .eeo-emojiPicker-footer }}