<div class = "eeo-emojiPicker-category-title">
  {{category.name}}
</div>

<div class = "eeo-emojiPicker-category-emoji">
  {{#each emoji as |emojo|}}
    <a
      href
      class = "eeo-emojiPicker-category-emoji-emojo {{if emojo.isVisible '-visible' '-hidden'}}"
      title = {{emojo.title}}
      {{action selectAction emojo}}
    >
      {{{inject-emoji emojo.shortname emojione = (hash imageTitleTag = false)}}}
    </a>
  {{/each}}
</div>{{! .eeo-emojiPicker-category-emoji }}