<h1>ember-emojione demo</h1>

<p>
  <a href="https://github.com/Deveo/ember-emojione">Source on GitHub</a>
</p>

<h2>Output</h2>
<p>
  {{{inject-emoji inputStrHtmlSafe}}}
</p>

<h2>Input</h2>
{{#emoji-picker-wrapper
  text                = inputStr
  inputSelector       = "textarea"
  emojiInsertedAction = (action (mut inputStr))
  as |emojiPicker emojiPickerToggler emojiAssist|
}}
  <span style="position: relative; display: inline-block;" class="input-wrapper">
    {{textarea value=inputStr}}
    {{component emojiAssist}}
  </span>


  <span class="togglePickerWrapper">
    {{component emojiPickerToggler}}

    {{component emojiPicker}}
  </span>
{{/emoji-picker-wrapper}}

<h2>Source</h2>

<pre>inputStr: 'OMG! :scream:',

inputStrHtmlSafe: computed('inputStr', function () {
  const inputStr = this.get('inputStr');
  return htmlSafe(inputStr);
}),

<hr>

&#123;&#123;#emoji-picker-wrapper
  text                = inputStr
  inputSelector       = "textarea"
  emojiInsertedAction = (action (mut inputStr))
  as |emojiPicker emojiPickerToggler emojiAssist|
}}
  &lt;span style="position: relative; display: inline-block;" class="input-wrapper">
    &#123;&#123;textarea value=inputStr}}
    &#123;&#123;component emojiAssist}}
  &lt;/span>


  &lt;span class="togglePickerWrapper">
    &#123;&#123;component emojiPickerToggler}}

    &#123;&#123;component emojiPicker}}
  &lt;/span>
&#123;&#123;/emoji-picker-wrapper}}</pre>