<h1>ember-emojione demo</h1>

<p>
  <a href="https://github.com/Deveo/ember-emojione">Source on GitHub</a>
</p>

<h2>Output</h2>
<p>
  {{{inject-emoji inputStrHtmlSafe}}}
</p>

<h2>Input</h2>
  {{textarea value=inputStr}}


  <span class="togglePickerWrapper">
    <button
      class = "toggleEmoji"
      {{action 'openEmojiPicker'}}
    >
      {{{inject-emoji ":smile:"}}}
    </button>

    {{emoji-picker
      selectAction = (action 'selectEmoji')
      closeAction  = (action 'closeEmojiPicker')
      isVisible    = isPickerVisible
    }}
  </span>

<h2>Source</h2>

<pre>inputStr: 'OMG! :scream:',

inputStrHtmlSafe: Ember.computed('inputStr', function () {
  return Ember.String.htmlSafe(
    this.get('inputStr')
  );
})

<hr>
&lbrace;&lbrace;textarea value=inputStr}}

&lbrace;&lbrace;&lbrace;inject-emoji inputStrHtmlSafe}}}</pre>